.sagecell_completion {height: 36pt; white-space: nowrap; overflow:auto}
.sagecell_messages div {margin-bottom:12pt;}
.sagecell_form {visibility: hidden;}
.sagecell_sliderControl {display:inline-block;width:15.0em;margin-right:1.0em;margin-left:1.0em}
.sagecell_multiSliderContainer {margin-left:1.0em}
.sagecell_multiSliderControl {display:inline-block;margin-right:0.5em;margin-left:0.5em;margin-top:1.25em}
.sagecell_button {padding:0.1em 0.5em; cursor:default;}
.sagecell_colorSelector {width:2em;border:none;padding:10px;}
.error {color: red}
.stderr {color: red}
.colorpicker {z-index: 10} /* So that sliders, etc. don't appear on top of it */
.CodeMirror {border: 1px solid;}
/* resizable */
/* .CodeMirror-scroll {height: auto; overflow-y: auto; overflow-x: auto; min-height: 10ex; max-height: 60ex;}  */
/* not resizeable */
.CodeMirror-scroll {height: 200px}
.sagecell_done {color: red}
.sagecell_sessionOutput {border: 2px solid; padding: 5px; overflow-x: auto;}
.sagecell_poweredBy {height: 0px; padding-right: 5px; padding-top: 3px; text-align: right; overflow:visible; font-size: 12px; font-family: sans;}
.sagecell_poweredBy img {vertical-align: text-top;}
.sagecell_sessionFiles {padding-bottom: 1.0em;}
.sagecell_interactContainer {padding: 15px 5px 5px 5px}
.sagecell_interactOutput {padding: 10px; overflow-x: auto}
.sagecell_interactValueBox {font-family: monospace} /* Required since dynamic input box size is determined by monospaced fonts */
.sagecell_dirtyControl {border-left: 2px solid red;}
.sagecell_commands {width: 100%; height: 200px; border: 1px solid; font-family: monospace; font-size: 10pt;}
.sagecell_editor {line-height: 13px; padding-bottom: 1em;}
.sagecell_editorToggle {float: right; margin: 2px; padding: 5px 5px 5px 5px; border: 1px solid;}
.sagecell_evalButton { margin-bottom: 1em;
                     }
.sagecell_advancedFrame {border: 1px solid; padding: 0.2em; display: inline-block;margin-left: 3em; vertical-align: top;}
.sagecell_advancedTitle {border-bottom: 1px solid;}
